*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: white;
  --calc-color: #61dafb;
}

body {
  background: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: var(--main-color);
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

#calculator {
  width: 220px;
  border: 3px solid var(--main-color);
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 2px solid var(--calc-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: #1e1e1e;
}

#display-container {
  height: 100px;
  border: 2px solid var(--calc-color);
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #333;
  font-size: 24px;
}

#button-container {
  margin: 30px auto 0 auto;
  display: flex;
  flex-direction: column;
}

button {
  width: 42px;
  height: 42px;
  border-radius: 10%;
  margin: 5px auto;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: grey;
}

#btnClear {
  background-color: #f44336;
}

#btnEqualsTo {
  background-color: #4caf50;
  grid-column: span 2;
}